<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Splitmate - Create Group</title>
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="stylesheet" type="text/css" href="./css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <a id="backLink" href="/groups.html" class="back-link"
        ><code>&lt;</code> Back</a
      >
      <h1 id="headerTitle">Splitmate</h1>
    </header>
    <div class="container">
      <div class="mainGroup">
        <label>Create Group</label>
        <form id="groupForm">
          <label class="newGroupLabel" for="groupName">Group Name</label>
          <input type="text" id="groupName" name="groupName" required />

          <label class="newGroupLabel" for="groupMembers">Group Members</label>
          <h5>seperated by comma</h5>
          <input type="text" id="groupMembers" name="groupMembers" />

          <button type="submit">Create group</button>
        </form>

        <p id="responseMessage"></p>
      </div>
    </div>
    <script src="./js/addGroup.js"></script>
  </body>
</html>
