<!DOCTYPE html>
<html>
  <head>
    <title>Splitmate - Gruppenübersicht</title>
    <link rel="stylesheet" type="text/css" href="groups.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap"
      rel="stylesheet"
    />
    <!-- <link
      rel="shortcut icon"
      type="image/png"
      href="utilities/img/favicon.png"
    /> -->
  </head>
  <body>
    <header>
      <h1>Splitmate</h1>
    </header>
    <div class="container">
      <div class="main">
        <div class="group-overview">
          <label for="chk" aria-hidden="true">My Groups</label>
          <div class="group-list">
            <div class="group-item">
              <h2>Group 1</h2>

              <button type="button">Details</button>
            </div>
            <div class="group-item">
              <h2>Group 2</h2>

              <button type="button">Details</button>
            </div>
            <!-- Weitere Gruppen können hier hinzugefügt werden -->
          </div>
          <a href="http://localhost:3000/groups/newGroup">
            <button type="button" class="btn-add" id="btn_create_group">
              +
            </button>
          </a>
        </div>
      </div>
      <button type="button" id="btn-logout">Logout</button>
    </div>
    <script>
      document
        .getElementById("btn-logout")
        .addEventListener("click", async function (event) {
          event.preventDefault();
          try {
            const response = await fetch("/api/v1/users/logout", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
            });

            if (response.ok) {
              alert("Logged out successfully");
              localStorage.removeItem("token");
              window.location.href = "http://localhost:3000";
            } else {
              alert("Error logging out");
            }
          } catch (error) {
            alert("An error occured: " + error.message);
          }
        });
    </script>
  </body>
</html>
